1.  Write a program to produce the following output using for loop

     +----+
      \  /
	  /  \
	  \  /
      /  \
      \  /
      /  \
     +----+

In [1]:
print("+","-"*4,"+")
for _ in range(3):
    
    print("\\     /")
    print("/     \\")


print("+","-"*4,"+")

+ ---- +
\     /
/     \
\     /
/     \
\     /
/     \
+ ---- +

2.  Write a program to produce the following output using for loop
	**********
    **********
    **********
    **********
    **********

In [2]:
n = int(input('Enter the number of rows: '))
m = int(input('Enter the number of coloums: '))
for i in range(n):
    for j in range(m):
        print('*',end='')
    print()

Enter the number of rows: 5
Enter the number of coloums: 10
**********
**********
**********
**********
**********

3. Complete the code for the following for loop:
   for in range(1,7):
   //your code here
   so that it prints the following numbers, one per line:

In [3]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [4]:
for i in range(1,7):
    print(i*2)

2
4
6
8
10
12

In [5]:
for i in range(1,7):
    print( 15 * i - 11)

4
19
34
49
64
79

In [6]:
for i in range(1, 7):
    print(-10*i+40)

30
20
10
0
-10
-20

In [7]:
for i in range(1, 7):
    print(4*i-11)

-7
-3
1
5
9
13

In [8]:
for i in range(1, 7):
    print(-3* i + 100)

97
94
91
88
85
82

In [9]:
result = [(i * 18) - 22 for i in range(1, 7)]
result

[-4, 14, 32, 50, 68, 86]

In [10]:
for i in range(1, 7):
    print(18 * i - 22)

-4
14
32
50
68
86

4. Write a program to produce the following output using for loops. Then use a class constant to make it possible to change the   number of lines in the figure.

1
22
333
4444
55555
666666
7777777

In [11]:
n = int(input('Enter the number of rows: '))

for i in range(1,n+1):
    for j in range(1,1+i):
        print(i , end='')
    print()

Enter the number of rows: 7
1
22
333
4444
55555
666666
7777777

5. Write a method named pay that accepts two parameters: a real number for a TA's salary, and an integer for the number of hours    the TA worked this week. The method should return how much money to pay the TA. For example, the call
   pay(5.50, 6)
   should return 33.0.
   The TA should receive "overtime" pay of 1 ½ normal salary for any hours above 8. For example, the call pay(4.00, 11) should      return (4.00 * 8) + (6.00 * 3) or 50.0.

In [12]:
def pay(salary, hours):
    # salary worked for the time of eight hours
    if hours <= 8:
            total_salary = salary * hours
            print(total_salary)
    else: 
            over_time_pay = 1.5 * salary * (hours - 8)
            total_pay = (salary * hours) + over_time_pay

In [15]:
pay(5.50, 6)

33.0

6. Consider the following method for converting milliseconds into days:
// converts milliseconds to days
def toDays(millis):
return millis / 1000.0 / 60.0 / 60.0 / 24.0
Write a similar method named area that takes as a parameter the radius of a circle and that returns the area of the circle. For example, the call
area(2.0);
should return
12.566370614359172.
Recall that area can be computed as π times the radius squared and that Python has a constant called math.pi

In [13]:
import math
def area(radius):
    A = (radius**2)* math.pi
    print(A)

In [14]:
area(2)

12.566370614359172

7.	Copy and paste the following code into pythons IDLE script environment.
low = 1
high = 1001
sum = 0
for i in range(low,high):
sum += i
print("sum = " , sum)
Modify the code to use a input to prompt the user for the values of low and high. Below is a sample execution in which the user asks for the same values as in the original program (1 through 1000):
low= 1
high= 1001
sum = 500500
Below is an execution with different values for low and high:
low= 300
high= 5298
sum = 13986903
You should exactly reproduce this format.

In [16]:
low = 1
high = 1001
sum = 0
for i in range(low, high):
    sum += i
print("sum = ", sum)

sum =  500500

In [17]:
low = 1
high = 1001
sum = 500500
for i in range(low, high):
    sum += i
print("sum = ", sum)

sum =  1001000

In [18]:
low = 300
high = 5298
sum = 13986903
for i in range(low, high):
    sum += i
print("sum = ", sum)

sum =  27973806

8. Write a program using while loop that prompts the user for numbers until the user types 0, then outputs their sum.

In [19]:
total_no = 0

while True:
    userType = int(input('Enter a number: '))
    
    if userType == 0:
        break
    total_no += userType
print(f'Total number {total_no}')

Enter a number: 5
Enter a number: 4
Enter a number: 3
Enter a number: 0
Total number 12

9. Write a program using while loop that prompts the user for numbers until the user types -1, then outputs their sum.

In [20]:
total_sum = 0

while True:
    number = int(input('Enter a number: '))
    # until userype -1 to quit
    if number == -1:
        break
    total_sum += number
print(f'Total sum is: {total_sum}')

Enter a number: -1
Total sum is: 0

10. Write a method named repl that accepts a String and a number of repetitions as parameters and returns the String concatenated that many times. For example, the call repl("hello", 3) returns "hellohellohello". If the number of repetitions is 0 or less, an empty string is returned.

In [21]:
def repl(name, num):
    return name*num

In [22]:
repl('hello',3)

'hellohellohello'

11. Write a method called printRange that accepts two integers as arguments and prints the sequence of numbers between the two arguments, separated by spaces. Print an increasing sequence if the first argument is smaller than the second; otherwise,  print a decreasing sequence. If the two numbers are the same, that number should be printed by itself. Here are some sample calls to printRange:
    printRange(2, 7)
    printRange(19, 11)
    printRange(5, 5)
    The output produced should be the following:
    2 3 4 5 6 7
    19 18 17 16 15 14 13 12 11
    5

In [23]:
def printRange(num1,num2):
    for num in range(num1, num2+ 1):
        print(num, end=' ')

In [24]:
printRange(2, 7)

2 3 4 5 6 7

In [25]:
def printRange(num1, num2):
    
    if num1< num2:
        print(num)
    else:
        for num in range(num1, num2-1, -1):
            print(num, end =" ")
printRange(5,5)

5

In [26]:
printRange(19, 11)

19 18 17 16 15 14 13 12 11

12. Write a method named smallestLargest that asks the user to enter numbers, 	  then prints the smallest and largest of all the numbers typed in by the 		user. You may assume the user enters a valid number greater than 0 for the     number of numbers to read. Here is an example dialogue:
    How many numbers do you want to enter? 4
    Number 1: 5
    Number 2: 11
    Number 3: -2
    Number 4: 3
    Smallest = -2
    Largest = 11

In [27]:
def smallestLargest():
    num=int(input('How many numbers do you want to enter? '))
    if num > 0 :
        n = []
        for i in range(1, num + 1):
            num1 = int(input(f'No {i} : '))
            n.append(num1)
        smallest = min(n)
        largest  = max(n)
        print(f'smallest figure : {smallest}')
        print(f'largest figure: {largest}')
smallestLargest()

How many numbers do you want to enter? 4
No 1 : 5
No 2 : 11
No 3 : -2
No 4 : 3
smallest figure : -2
largest figure: 11

13. Write a method called printAverage that uses a sentinel loop to repeatedly     prompt the user for numbers. Once the user types any number less than zero,     the method should display the average of all nonnegative numbers typed.         Display the average as a double. Here is a sample dialogue with the user:
    Type a number: 7
    Type a number: 4
    Type a number: 16
    Type a number: –4
    Average was 9.0
    If the first number that the user types is negative, do not print an           average:
    Type a number: –2

In [29]:
def printAverage():
    total_sum = 0
    total_count = 0
    
    while True:
        n = float(input('Type any number: '))
        
        if total_count < 0 and total_sum == 0:
            print('Nonnegative numbers entered ')
            break
        
        if n < 0:
            average = total_sum/total_count
            print(f'Average was {average}')
            break
            
        total_sum += n
        total_count += 1
        
printAverage()

Type any number: 7
Type any number: 4
Type any number: 16
Type any number: -4
Average was 9.0

In [30]:
def printAverage():
    total_sum = 0
    total_count = 0
    
    while True:
        n = float(input('Type any number: '))
        
        if total_count == 0 and n < 0:
            print('do not print the code ')
            break
        
        if n < 0:
            average = total_sum / total_count
            print(f'Average was {average}')
            break
            
        total_sum += n
        total_count += 1
        
printAverage()

Type any number: -2
do not print the code

14.	Write a method named numUnique that takes three integers as parameters and     returns the number of unique integers among the three. For example, the      	call numUnique(18, 3, 4) should return 3 because the parameters have three 	   different values. By contrast, the call numUnique(6, 7, 6) should return 2  	   because there are only two unique numbers among the three parameters: 6 and     7.

In [31]:
def numUnique(num1,num2,num3):
    # getting a unique number of integers among three numbers
    unique_num = set([num1,num2,num3])
    return len(unique_num)

In [32]:
numUnique(18, 3, 4)

3

In [33]:
numUnique(6,7,6)

2

15. A Random object generates pseudo-random numbers. Find out how to use the Random class and write a program that simulates rolling of two 6-sided dice until their combined result comes up as 7. One possible output can be seen as below:
2 + 4 = 6
3 + 5 = 8
5 + 6 = 11
1 + 1 = 2
4 + 3 = 7
You won after 5 tries!

In [34]:
import random

def roll_dice():
    '''returning random number between 1 and 6
    '''
    return random.randint(1, 6)
def simulates_roll_dice():
    total = 0
    rolling = 0
    while total != 7 :
        dice = roll_dice()
        dice1 = roll_dice()
        total = dice + dice1
        rolling += 1
        print(f'roll result are in {rolling} to result in {dice} +{dice1}={total}')
        print(f'You won after {rolling} tries')

In [35]:
simulates_roll_dice()

roll result are in 1 to result in 1 +3=4
You won after 1 tries
roll result are in 2 to result in 6 +5=11
You won after 2 tries
roll result are in 3 to result in 4 +1=5
You won after 3 tries
roll result are in 4 to result in 1 +4=5
You won after 4 tries
roll result are in 5 to result in 5 +4=9
You won after 5 tries
roll result are in 6 to result in 6 +4=10
You won after 6 tries
roll result are in 7 to result in 2 +1=3
You won after 7 tries
roll result are in 8 to result in 3 +4=7
You won after 8 tries